.mid-d-none {
    display: none;
}

.mid-fxdr-c {
    flex-direction: column;
}

.mid-fxw-wrap {
    flex-wrap: wrap;
}

.mid-w-80 {
    width: 80%;
}

.mid-m-auto {
    margin: auto;
}

.mid-order1 {
    order: 1;
}