@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #303846;
}


/* Позиционирование */

.pos-f {
    position: fixed;
}


/* Box-model 
 * display, width, height, box-sizing 
 */

.d-f {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.m-auto {
    margin: 0 auto;
}

.w-3em {
    width: 3em;
}

.w-13em {
    width: 13em;
}

.w-100vw {
    width: 100%;
}

.ai-c {
    align-items: center;
}

.h-5em {
    height: 5em;
}

.pt-5em {
    padding-top: 5em;
}

.m-1em {
    margin: 1em;
}

.p-1em {
    padding: 1em;
}

.fxd-c {
    flex-direction: column;
}

.fxw-w {
    flex-wrap: wrap;
}

.bd {
    border: 1px solid #fff;
}

.bdrs {
    border-radius: 1em;
}

.mw-1440 {
    max-width: 1440px;
}

.mw-1000 {
    max-width: 1000px;
}

.mt-3em {
    margin-top: 3em;
}

.w-30perc {
    width: 30%;
}

.mb-05em {
    margin-bottom: .5em;
}

.w-60perc {
    width: 60%;
}

.ml-auto {
    margin-left: auto;
}


/* Типографика */

.fw-b {
    font-weight: bold;
}

.td-n {
    text-decoration: none;
}

.fz-3em {
    font-size: 3em;
}

.fc-white {
    color: white;
}

.ta-c {
    text-align: center;
}

.fz-larger {
    font-size: larger;
}

.ta-j {
    text-align: justify;
}


/* Визуализация */

.bgi-space {
    background-image: url(/images/banner.png);
}

.bgsz-cv {
    background-size: cover;
}

.bgp {
    background-position: center 70%;
}

.bgc-t {
    background-color: transparent;
}

.bgc-white {
    background-color: #fff;
}

.bgc-light-gray {
    background-color: #f7f7f7;
}


/* Медиа-запросы */

@media (max-width: 640px) {
    .ss640-h-7em {
        height: 7em;
    }
    .ss640-pt-7em {
        padding-top: 7em;
    }
    .ss640-fxdr-c {
        flex-direction: column;
    }
    .ss640-w-80 {
        width: 80%;
    }
    .ss640-order1 {
        order: 1;
    }
    .ss640-m-auto {
        margin: auto;
    }
    .ss640-mb-1em {
        margin-bottom: 1em;
    }
}

@media (max-width: 420px) {
    .ss240-h-9em {
        height: 9em;
    }
    .ss420-pt-9em {
        padding-top: 9em;
    }
}