@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #303846;
}


/* Позиционирование */

.pos-f {
    position: fixed;
}


/* Box-model 
 * display, width, height, box-sizing 
 */

.d-f {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.m-auto {
    margin: 0 auto;
}

.w-3em {
    width: 3em;
}

.w-13em {
    width: 13em;
}

.w-100vw {
    width: 100%;
}

.ai-c {
    align-items: center;
}

.h-5em {
    height: 5em;
}

.pt-5em {
    padding-top: 5em;
}

.m-1em {
    margin: 1em;
}

.p-1em {
    padding: 1em;
}

.fxd-c {
    flex-direction: column;
}

.fxw-w {
    flex-wrap: wrap;
}

.bd {
    border: 1px solid #fff;
}

.bdrs {
    border-radius: 1em;
}

.mw-1440 {
    max-width: 1440px;
}


/* Типографика */

.fw-b {
    font-weight: bold;
}

.td-n {
    text-decoration: none;
}

.fz-3em {
    font-size: 3em;
}

.fc-white {
    color: white;
}

.ta-c {
    text-align: center;
}


/* Визуализация */

.bgi-space {
    background-image: url(/images/banner.png);
}

.bgsz-cv {
    background-size: cover;
}

.bgp {
    background-position: center 70%;
}

.bgc-t {
    background-color: transparent;
}


/* Анимация */


/* Остальное */

@media (max-width: 640px) {
    .h-7em {
        height: 7em;
    }
    .pt-7em {
        padding-top: 7em;
    }
}

@media (max-width: 420px) {
    .h-9em {
        height: 9em;
    }
    .pt-9em {
        padding-top: 9em;
    }
}